@charset "utf-8";
/* CSS Document */


html{
	background-size: 100% 100%;
	
}

.first-page{
	background: url(../img/room.JPEG) no-repeat;
	background-size: 100% 100%;
	height: 100%
	
}

.first-page-words{
	text-align:center;
	font: 50px "Microsoft Yahei";
	color: black;
	position: relative;
	bottom: 13%;
}

.first-page-welcome{
	text-align: center;
	
}

.second-page{
	position: relative;
	height: 100%;
	background: url(../img/skyimg.jpg) no-repeat;
	background-size: 100% 100%;
}

.second-page-top{
	background: url();
	width: 100%;
	height: 300px;
	top: 0px;
	position: absolute;
	display: none;
	


}

.second-page-top-infor
{
	text-align: center;
	font: 50px "Microsoft Yahei";
	text-shadow: 5px 5px 5px #ffffff;
	position: relative;
	height: 100%;

	
} 
.second-page-top-infor p{
	width:100%;
	text-align: center;
	margin: 30px;
	
}

.second-page-top-infor hr{
	height: 10px;
	border:none;
	border-top: 10px groove skyblue;
	margin-top:40px;
	margin-left: 120px;
	margin-right: 120px
	
}
.second-page-left{
	
	position: relative;
	width: 10%;
	height: 100%;
	float: left;
	left:-120%;
	
	
	
}
.second-page-left-border{
	
}

.second-page-main{
	float: left;
	position: relative;
	height: 100%;
	width: 70%;
	display: none;
	
}


.second-page-main-bottom{
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
	top: 200px;
	
	
}

.second-page-main-left{
	width: 50%;
	float: left;
	height: 100%;
	
	
}

.second-page-main-left hr{
	height: 5px;
	border:none;
	border-top: 2px groove skyblue;
    margin-right: 100px;
}


.second-page-main-right{
	
	width:50%;
	float: left;
	height:100%;
	position: relative;
	left: 3%;
}

.second-page-main-right table{
	
}
.second-page-main-words{

}

.second-page-main hr{
	height: 5px;
	border:none;
	border-top: 2px groove skyblue;
    margin-right: 100px;
	
}

.second-page-right{
	float:left;
	position: relative;
	height: 100%;
	width: 20%;
	right: -120%
}
.second-page-right hr{
	height: 5px;
	border:none;
	border-top: 2px groove skyblue;
}

.news-first{
	border-style:hidden dashed hidden hidden;
    border-right-color:grey;
	border-left-style: hidden;
}
.news-first img{
	width: 90%;
	height: auto;
	margin:10px;
}

.news-words-first{
	width:98%;
	text-indent: 2em;
}
.news-words-first a{
	font: "SimSun";
}

.news-text{
	font-size: 13px;
	position: relative;
	margin-right: 100px;
	text-indent: 2em;
}
